/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');


/* Body CSS */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    font-family: 'Barlow Semi Condensed', sans-serif;
    grid-gap: 30px;
    margin: 60px 30px 60px 30px;
    background-color: hsl(0, 0%, 95%);
}

.heroWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

.heroWrap2 {
    line-height: 5px;
    margin-left: 16px;
}

.img {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}


/* Card CSS */
.daniel {
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px;
    
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 185px;
    background-position-y: 0px;

    p {
        color: hsl(0, 0%, 100%);
        opacity: 50%;
    }
    
}

.jonathan {
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px;

    p{
        color: hsl(0, 0%, 100%);
        opacity: 50%;
    }
}

.jeanette {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    border-radius: 10px;
    padding: 20px;
    p{
        color: hsl(217, 19%, 35%);
        opacity: 50%;
    }
}

.patrick {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px;
    p{
        color: hsl(0, 0%, 100%);
        opacity: 50%;
    }
}

.kira {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    border-radius: 10px;
    padding: 20px;
    p{
        color: hsl(217, 19%, 35%);
        opacity: 50%;
    }
}

.imgDaniel {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: 3px solid hsl(263, 100%, 81%);
}

.imgJonathan {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: 3px solid hsl(0, 0%, 81%);
}

.imgPatrick {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: 3px solid hsl(263, 55%, 52%);
}

.testimonial {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;

    h2 {
        margin-top: 2px;
    }

    p {
        margin-top: -5px;
    }

}

/* Media Queries */ 
@media (min-width: 1000px) {
    body {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .daniel {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;

        background-position-x: 370px;
    }
    
    .jonathan {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;

    }

    .jeanette {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .patrick {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .kira {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }


}